.OrderSummary{
    width: 60vw;
    height: auto;
    /* border: solid red; */
    margin-top: 50px;
    border: 1px solid #707070
}
.OrderSummaryOrderBox1{
    width: 100%;
    height: 25vh;
    /* border: solid green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* ; */
}
.imageOrderSummary{
    width: 8%;
    height: 90px;
    border: 1px solid black;
}
.imageorderSizeOrderSummary{
    width: 100%;
    height: 100%;
}
.BookDataInOrderOrderSummary{
    width: 55%;
    height: 90px;
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.BookNameOrderOrderSummary {
    width: 50%;
    height: 30px;
    /* border: solid red; */
    text-align: start;
}

.AuthorNameOrderOrderSummary {
    font-size: 10px;
    height: 25px;
    color: #9D9D9D;
    /* border: solid red; */
}

.PriceOrderOrderSummary {
    width: 100%;
    height: 20%;
    /* border: solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;

}

.OriginalPriceOrderOrderSummary {
    width: 15%;
    font-weight: 500;
    /* border: solid red; */
    position: relative;
    left: -3px;
}

.DiscountPriceOrderOrderSummary{
    width: 90%;
    height: 60%;
    /* border: solid red; */
    font-size: 9px;
    text-decoration: line-through;
    color: #9D9D9D;
    text-align: start;
}


.CancelOrderOrderSummary{
    width: 20%;
    height: 40%;
    /* border: solid red; */
    position: relative;
    left: 650px;
    top: -20px;
}