.HeaderMainContainer {
    width: 100vw;
    height: 10vh;
    background-color: #A03037;
    display: flex;
    align-items: center;
}

.HeaderBookStoreLogo {
    position: relative;
    left: 180px;
    /* border: solid green; */
    width: 3%;
}

.HeaderText {
    color: white;
    font-size: 20px;
    opacity: 1;
    position: relative;
    left: 190px;
    top: -2px;
}

.input {
    color: #5f6368;
    font-family: Helvetica, Arial, sans-serif;
}
.iconSearch{
    position: relative;
}
.middleheader {
    width: 39%;
    height: 65%;
    /* border: solid green;   */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: solid gray; */
    border-radius: 2px;
    background-color: white;
    position: relative;
    left: 240px;
}
.Profile{
    position: relative;
    left: 390px;
    color: white;
    display: flex;
    flex-direction: column;
}
.textProfile{
    margin-top: -5px;    
    font-size: 11px;
    color: white;
}
.cart{
    position: relative;
    left: 420px;
    /* border: solid red; */
}