.MaincontainerWishlist{
    width: 100vw;
    height: 100vh;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
}
.EmptyboxMiddleSectionWishlist {
    width: 12.6vw;
    /* border: solid red; */
}

.MiddleSectionWishlist{
    width: 55%;
    height: 50px;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HomeWish{
    width: 6.15%;
    /* border: solid red; */
    text-align: left;
    color: #9D9D9D;
    font-size: 12px;
}

.WishlistId {
    width: 8.8%;
    /* border: solid red; */
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}
.MiddleSectionWishBoxDetails{
    display: flex;
    flex-direction: row;
}
.WishlistDetails{
    width: 74%;
    height: 60vh;
    border: 1px solid #707070;
    /* border: solid red; */
}
.WishlistDetailsHeader{
    width: 100%;
    height: 15%;
    /* border: solid red; */
    background-color: #E4E4E4;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
}
.myWishlistId{
    margin-left: 20px;
    font-weight: 600;
}
.BookDetailsWishlist{
    width: 100%;
    height: 40%;
    /* border: solid red; */
    
}
.BookDetailsWishlist1{
    width: 100%;
    height: 85%;
    /* border: solid green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imageWishlist{
    width: 10%;
    height: 90%;
    border: 1px solid black;
}
.BookDataInWishlist{
    width: 70%;
    height: 90%;
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.BookNameWishlist {
    width: 40%;
    height: 25%;
    /* border: solid red; */
    text-align: start;
}

.AuthorNameWishlist{
    font-size: 10px;
    height: 15%;
    color: #9D9D9D;
}

.PriceWishlist {
        width: 100%;
        height: 20%;
        /* border: solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;

}

.OriginalPriceWishlist {
    width: 9%;
    font-weight: 500;
    /* border: solid red; */
}

.DiscountPriceWishlist{
    width:8%;
    height: 40%;
    /* border: solid red; */
    font-size: 10px;
    text-decoration: line-through;
    color: #9D9D9D;
}

.DeleteIconWishlist{
    width: 10%;
    height: 50%;
    /* border: solid orange; */
}