.BookCatalogueMainContainer{
    width: 17vw;
    height: 42vh;
    /* border: solid red; */
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}
.BookImage{
    width: 100%;
    height:65%;
    /* border: solid green;     */
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageBook{
    /* border: solid green; */
    width: 50%;
    height: 80%;
}
.BookDetail{
    width: 100%;
    height: 35%;
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.BookTitle{
    width: 80%;
    height: 20%;
    /* border: solid orange; */
    font-family:normal normal normal 14px/19px Roboto;
    font-size: 15px;
    color: #0A0102;
    text-align: left;
}
.AuthorName{
    width: 80%;
    height: 18%;
    /* border: solid purple ; */
    color: #878787;
    font-family: Roboto;
    font-size: 12px;
    text-align: left;
}
.BookRatingCount{
    width: 35%;
    height: 25%;
    /* border: solid orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: -60px;
    font-size: 13px;

}
.BookRating{
    width: 40%;
    height: 80%;
    border: solid #388E3C ;
    text-align: left;
    background-color: #388E3C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BookCount{
    width: 20%;
    height: 80%;
    /* border: solid purple ; */
}
.Price{
    width: 50%;
    height: 20%;
    /* border: solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    position: relative;
    left: -35px;
}
.DiscountPrice{
    width: 50%;
    height: 100%;
    /* border: solid red ; */
    font-weight: bold;
    font-size: 12px;
}
.OriginalPrice{
    width: 50%;
    height: 100%;
    /* border: solid red ; */
    text-decoration: line-through;
    font-size: 10.5px;
}