.MainContainer{
    width: 100vw;
    height: 100vh;
    /* border: solid red */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MiddleSectionOrder{
    width: 80%;
    height: 100%;
    /* /* border: solid red; * */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.OrderMessage{
    width: 60%;
    height: 50%;
    /* border: solid orange; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
}
.OrderSucessfullMessge{
    width: 30%;
    height: 20%;
    /* border: solid red; */
   
}
.informationOrder{
    width: 80%;
    height: 30%;
    /* border: solid orange; */
}
.HeaderOrder{
    width: 99.8%;
    height: 20%;
    border: 1px solid black;
    background-color: #DCDCDC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-weight: 10px;
}
.HeaderOrderTwo{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    /* border: solid orange; */
}
.EmailAddress{
    width:32%;
    height: 100%;
    /* border: solid red; */
    border: 1px solid black;
    
    
}
.ContactDeatils{
    width:32%;
    height: 100%;
    /* border: solid red; */
    border: 1px solid black;
  


}
.AddressDetails{
    width:36%;
    height: 100%;
    /* border: solid red; */
    border: 1px solid black;


}